body,html{height: 100%;min-height: 100%;margin:0;padding:0;font-family:"Helvetica Neue",Arial,sans-serif;font-size:62.5%;line-height:1.5em;background-color:#f4f4f5}
a,abbr,acronym,address,blockquote,button,caption,cite,code,dd,del,dfn,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,img,label,legend,li,ol,p,pre,q,s,samp,small,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;font-weight:400;font-style:normal;font-size:100%;line-height:1;font-family:inherit}
table{border-collapse:collapse;border-spacing:0;empty-cells:show}
ol,ul{list-style:none}
blockquote:after,blockquote:before,q:after,q:before{content:""}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:active,a:focus,a:hover{outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;outline:0}
a{text-decoration:none;cursor:pointer}
button,input{border:1px solid;outline:0;line-height:normal;*overflow:visible}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top}
strong{font-weight:700}
::selection{background:#5cc9e8;color:#fff;text-shadow:none}
::-moz-selection{background:#72d0eb;color:#fff;text-shadow:none}

#container { width: 880px;margin: 0 auto;padding-top: 100px;font-size: 1.2em;}
#container #content hgroup {float: left;width: 710px;margin: 0 0 0 50px;height: 80px;}
#container #content hgroup h1 {font-size: 1.3em;padding: 8px 0 0;float: left;margin: 2px 0 0 -4px;font-weight: 500;color: #2f353e;}
#container aside {float: left;width: 200px;margin: 0 0 0 40px;}

#logo {float: left;width: 960px;margin: 40px 0 40px 40px;}
#logo a { float: left; width: 60px; height: 42px; overflow: hidden; text-indent: -9000px; background-image: url(../img/sprite.png); background-repeat: no-repeat; background-color: transparent; background-size: 600px 600px; background-position: center; margin: 25px 0;}

ul#accountNav{position:fixed;top:10px;right:10px;z-index:100;-khtml-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#f4f4f5}
ul#accountNav li{float:right;padding:0;margin:0}
ul#accountNav li a{float:left;text-decoration: none;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.3em;line-height:1.5em;padding:10px 0;color:#2f353e;text-shadow:0 1px #fff}
ul#accountNav li a .name{display:inline-block;padding-right:2px}
ul#accountNav li a .arrow{display:inline-block;width:7px;margin-right:5px;background-image:url(../img/sprite.png);background-repeat:no-repeat;background-color:transparent;background-size:600px 600px;background-position:-578px -290px;opacity:.5}
ul#accountNav li a .avatar{position:absolute;right:10px;top:7px;width:25px;height:25px;overflow:hidden;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
ul#accountNav li a .avatar img{width:25px;height:auto;float:left}
ul#accountNav li a:hover{color:#0ad}
ul#accountNav li a#person{padding-left:15px;padding-right:40px}
ul#accountNav li a#person.open .arrow{opacity:1;background-position:-8px -290px}
ul#accountNav li ol#accountMenu{display:none;position:absolute;z-index:100;right:9px;top:35px;width:150px;background:#fff;border:1px solid #a4b3bf;padding:0;box-shadow:0 2px 1px rgba(194,204,212,.5);-moz-box-shadow:0 2px 1px rgba(194,204,212,.5);-webkit-box-shadow:0 2px 1px rgba(194,204,212,.5);-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
ul#accountNav li ol#accountMenu:after,ul#accountNav li ol#accountMenu:before{border:solid transparent;pointer-events:none}
ul#accountNav li ol#accountMenu:after{content:'';position:absolute;border-style:solid;border-width:0 6px 6px;border-color:#FFF transparent;display:block;width:0;z-index:1;top:-6px;right:32px}
ul#accountNav li ol#accountMenu:before{content:'';position:absolute;border-style:solid;border-width:0 7px 7px;border-color:#98a9b6 transparent;display:block;width:0;z-index:1;top:-7px;right:31px}
ul#accountNav li ol#accountMenu li{width:100%;margin:0;padding:0}
ul#accountNav li ol#accountMenu li a{width:120px;padding:5px 15px;margin:0;text-align:left;color:#879aa9}
ul#accountNav li ol#accountMenu li a.active,ul#accountNav li ol#accountMenu li a:hover{color:#2f353e}
ul#accountNav li ol#accountMenu li.in a{padding-top:10px}
ul#accountNav li ol#accountMenu li.upgrade a{color:#0ad}
ul#accountNav li ol#accountMenu li.out{border-top:1px solid #e0e5e9;margin-top:8px}
ul#accountNav li ol#accountMenu li.out a{padding-top:8px;color:#a5b3be;padding-bottom:10px}
ul#accountNav li ol#accountMenu li.out a:hover{color:#879aa9}

#images {float: left;width: 100%;padding-left: 43px;}
#images li{float:left;width:186px;margin:0 8px 25px 4px;position: relative;}
#images li a.thumb{float:left;width:186px;height:104px;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;overflow:hidden;background:url(../img/saving_white.gif) center no-repeat #fff}
#images li a.thumb span.helper{display:none}
#images li a.thumb.dropzoneHover span.helper{display:block;position:absolute;z-index:11;top:0;left:0;width:184px;background:url(../img/interactions.gif) top left no-repeat #0ad;background-position:-636px 19px;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;height:102px;border:1px solid #0083aa;text-indent:-9000px}
#images li a.thumb img{width:186px;height:104px}
#images li .toolbar{float:left;width:100%;margin:5px 0 0;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.1em;line-height:1.5em}
#images li .toolbar a.title{color:#a5b3be;height:18px;display:inline-block;max-width:165px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;margin-top:2px}
#images li .toolbar a.title:hover{color:#6a8193}
#images li .toolbar a.contextmenu{float:right;margin:0;width:16px;height:20px;background-image:url(../img/sprite.png);background-repeat:no-repeat;background-color:transparent;background-size:600px 600px;background-position:top left;overflow:hidden;text-indent:-9000px}
#images li .toolbar a.contextmenu.close,#images li .toolbar a.contextmenu:hover{background-position:-18px 0}
#images li .toolbar ul.optMenu{display:none;position:absolute;z-index:20;right:-12px;bottom:24px;width:119px;background:#fff;border:1px solid #c2ccd4;padding:9px 0 10px;box-shadow:0 2px 1px rgba(194,204,212,.5);-moz-box-shadow:0 2px 1px rgba(194,204,212,.5);-webkit-box-shadow:0 2px 1px rgba(194,204,212,.5);-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
#images li .toolbar ul.optMenu:after,#images li .toolbar ul.optMenu:before{top:100%;left:100px;border:solid transparent;content:" ";height:width:0;position:absolute;pointer-events:none}
#images li .toolbar ul.optMenu:after{border-color:rgba(255,255,255,0);border-top-color:#fff;border-width:6px;margin-left:-6px}
#images li .toolbar ul.optMenu:before{border-color:rgba(194,204,212,0);border-top-color:#b6c2cb;border-width:7px;margin-left:-7px}
#images li .toolbar ul.optMenu li{float:right;width:119px;height:auto!important;margin:0;padding:0}
#images li .toolbar ul.optMenu li a,#images li .toolbar ul.optMenu li.view{float:left;width:93px;padding:5px 14px}
#images li .toolbar ul.optMenu li.view{color:#b4c0c9;border-bottom:1px dashed #eff2f4;padding:4px 14px 8px;margin:0 0 4px;font-size:1em}
#images li .toolbar ul.optMenu li a{color:#879aa9;font-size:1em}
#images li .toolbar ul.optMenu li a:hover{color:#2f353e}
#images li .toolbar ul.optMenu li a.goDelete{display:none;color:#e04313}
#images li:hover .toolbar a.title{color:#6a8193}
#images li.droppd img{opacity:.3;display:inline}
#images li.droppd span{display:none}
#images li.droppd .title{opacity:0}
#images li.droppd a.contextmenu,#images li.droppd ul.optMenu{display:none}
#images li.droppd.complete a.contextmenu{display:block}
#images li.droppd.complete .title,#images li.droppd.complete img{opacity:1}
#images li.droppd.complete .dropzone{-webkit-animation:pulsate .7s ease-out;-webkit-animation-iteration-count:1}
#images li.ui-draggable-dragging{width:180px;height:123px;cursor:move;z-index:20;-khtml-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;background:#00bef7!important;padding:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8)}
#images li.ui-draggable-dragging .toolbar{display:none}
#images li.ui-draggable-dragging .thumb{border:1px solid #0083aa;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:178px;height:121px;overflow:hidden;float:left}
#images li.ui-draggable-dragging .thumb img{float:left;width:250px;height:142px;margin:-11px 0 0 -37px}
#images li#uploadSingle{float:left;width:188px;background:#ECEFF1;padding:3px;-khtml-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;margin:-4px 0 0 0}
#images li#uploadSingle a{float:left;width:186px;height:104px;background:url(../img/upload.png) top center no-repeat #fff;background-position:center -331px;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #e0e5e9;text-indent:-9000px}
#images li#uploadSingle a:hover{border:1px solid #a1c32c;background-position:center -421px}
#images li#uploadSingle:hover{background:#d8e99f}
#images li#uploadSingle:hover a{border:1px solid #a1c32c;background-position:center -421px}
#images li#uploadSingle:active{padding:5px;width:184px}
#images li#uploadSingle:active a{background-position:center -513px;width:182px;height:100px}
#images.inactive li#uploadSingle{width:710px;padding:0;margin-top:-10px;-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 1px 2px #fff;background:#f1f1f3}
#images.inactive li#uploadSingle a{text-indent:0;width:100%;height:auto;background:url(../img/upload.png) top center no-repeat;background-position:center 40px;border:none;margin:0;padding:105px 0 60px;text-align:center;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.3em;line-height:1.8em;text-shadow:0 1px #fff;color:#546776}
#images.inactive li#uploadSingle a em{display:block;clear:both;font-size:.9em;color:#879aa9}
#images.inactive li#uploadSingle:hover{background:#efeff0}
#images.inactive li#uploadSingle:hover a{background-position:center -140px}
#images.inactive li#uploadSingle:active{background:#ececee}
#images li:target{background:#00bef7!important;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.8);z-index:1000!important;position:relative;-webkit-animation:pulsate .6s ease-out;-webkit-animation-iteration-count:2}
#images li:target .wrapper{border-color:#0096c4!important}
#images li:target .wrapper .title{color:#2f353e!important}
section#archived ol li:target{-webkit-animation:highlighter 5s ease-out;-webkit-animation-iteration-count:1}
section#archived ol li:target a{opacity:1!important}

#ddPrompt{position:fixed;width:100%;height:100%;top:0;left:0;background:#0ad;opacity:.95;color:#fff;text-align:center;box-shadow:inset 0 0 0 10px #0096c4;-moz-box-shadow:inset 0 0 0 10px #0096c4;-webkit-box-shadow:inset 0 0 0 10px #0096c4;display:table;z-index:1000}
#closeddPrompt{position:absolute;top:20px;right:20px;text-align:center;font-size:2.1em;color:#0ad;background:#0083aa;width:30px;height:27px;overflow:hidden;-khtml-border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;padding:3px 0 0}
#closeddPrompt:hover{background:#fff}
#ddPrompt p{display:table-cell;vertical-align:middle;text-align:center}
#ddPrompt p strong{float:left;width:100%;margin:0 0 10px;font-size:2.5em;font-weight:500;text-shadow:0 1px 2px #005c77}
#ddPrompt p em{font-size:1.3em;color:#aaebff}

#details {width:697px!important;background:#f9f9fa;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
#details aside{margin:40px 0 40px 40px;width:164px;position:relative}
#details aside a.thumb{float:left;width:164px;height:100px;overflow:hidden;background:#fff;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:0 0 16px}
#details aside a.thumb img{width:225px;margin:-12px 0 0 -31px}
#details aside a.avatar { height: 164px;}
#details aside a.avatar img { width: 164px; margin: 0;}
#details aside a.thumb.nofollow{cursor:wait}
#details aside p{float:left;width:90%;font-size:1.1em;line-height:1.5em;color:#a5b3be;text-shadow:0 1px #fff;margin:0 0 30px}
#details aside p a{color:#72889a}
#details aside p a:hover{color:#546776}
#details aside p.original{margin:0;font-size:.95em;text-shadow:none;color:#c2ccd4}
#details aside p.meta{background:#fff;width:164px;padding:15px 10px;margin-left:-10px;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
#details form{float:right;width:390px;margin:40px 50px 50px 0}
.buttongroup,#details form .radios,#details form h2,#details form label{float:left;width:100%}
.buttongroup.hidden,#details form .radios.hidden,#details form h2.hidden,#details form label.hidden{display:none}
.radios{margin:5px 0 14px;color:#879aa9}
.radios span{float:left;margin-top:5px;font-size:1.1em}
.radios label{padding:5px 0;margin:0}
.radios label:hover{color:#6a8193}
.radios .group{float:right;width:219px;margin:0}
.radios .group input{display:inline-block;margin:0 15px 0 0}
.radios .group select{width:105px;margin:0}
.radios .group select.right{float:right}
#details form h2{font-size:1.2em;color:#2f353e;font-weight:500;margin:2px 0 30px}
label{position:relative;margin:0 0 10px;color:#879aa9}
label input,#details form label span{display:inline-block}
label input[type=text],#details form textarea{font-family:"Helvetica Neue",Arial,sans-serif;font-size:1.25em;line-height:1.5em;padding:11px 10px 10px;border:1px solid #e0e5e9;color:#2f353e;width:198px;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-ms-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s;background:#fff}
label input[type=text]:focus,#details form textarea:focus{border-color:#7fd7f7!important;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);outline:0;outline:thin dotted \9}
label input[type=text]::-webkit-input-placeholder{color:#c2ccd4}
label input[type=text]:-moz-placeholder{color:#c2ccd4}
label span{font-size:1.1em;width:170px}
.buttongroup{margin-top:30px;border-top:1px solid #e0e5e9;padding-top:15px}
.buttongroup button{float:left;background:#a1c32c;color:#fff;border:1px solid #8fad27;border-radius:3px;-webkit-font-smoothing:antialiased;font-weight:500;font-size:1.1em;padding:10px 12px;margin-right: 10px;}
.buttongroup button:focus,#details form .buttongroup button:hover{background:#95ba25;border-color:#7e9822}
.buttongroup button:active{background:#89b11e;border-color:#6d831e;border-top-width:2px;padding-bottom:9px}
.buttongroup button:disabled{background-color:#d1d9de;border-color:#b4c0c9}
.buttongroup a.secondary{float:left;font-size:1.1em;padding:12px 0;margin:0 0 0 12px;color:#0ad}
.buttongroup a.secondary:hover{color:#0083aa}
.buttongroup label{float:left;width:auto;margin:0 0 0 15px;padding:14px 0 0}
.buttongroup label input{margin-right:5px}
#delete {background:#ec5021;color:#fff;border:1px solid #9a2e0d;}